header nav {
  position: relative;
  height: 80px;
  padding: 28px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.logo-container {
  width: 109px;
  height: 35px;
}

.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

nav .main-nav {
  list-style-type: none;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2.5%;
  line-height: 24px;
  display: flex;
  gap: 16px;
}

nav .main-nav li a {
  padding: 12px 20px;
  color: #000;
}

nav .nav-btn {
  display: flex;
  gap: 16px;
}

nav .nav-btn a,
nav .nav-btn button,
.mobile-nav li:nth-child(4) a,
.mobile-nav li:nth-child(5) button {
  display: inline-block;
  padding: 8px 16px;
  color: #121217;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2.5%;
  background-color: #f7f7f8;
  border-radius: 12px;
}

nav .nav-btn button,
.mobile-nav li:nth-child(5) button {
  color: #fff;
  border: none;
  background-color: #e61e2b;
  cursor: pointer;
}

.hamburger-menu{
    display: none;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    overflow: hidden;
}

#mobile-nav-btn{
  width: 48px;
    height: 48px;
  position: relative;
  background-color: #E61E2B;
  cursor: pointer;
  border: none;
  z-index:20;
}

#mobile-nav-btn span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 16px;
    height: 1.5px;
    border-radius: 100px;
    background-color: #fff;
    transition: all 150ms;
}

#mobile-nav-btn span:first-child{
    top: 37%;
}

#mobile-nav-btn span:last-child{
    top: 63%;
}

#mobile-nav-btn.active span:first-child{
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

#mobile-nav-btn.active span:nth-child(2){
  display: none;
}

#mobile-nav-btn.active span:last-child{
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.mobile-nav{
  width: 100%;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  z-index: 10;
}

.mobile-nav.open{
  display: flex;
}

.mobile-nav li{
  width: 100%;
  text-align: center;
}

.mobile-nav li a{
  display: inline-block;
  padding: 20px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.mobile-nav li a:hover{
  background-color: rgba(255,255,255,0.2);
}

.mobile-nav li:nth-child(4) a,
.mobile-nav li:nth-child(5) button{
  width: 200px;
  margin: 8px 0 0 0;
} 

.mobile-nav li:nth-child(4) a:hover{
  background-color: #f7f7f8;
}

@media screen and (max-width: 768px) {
  header nav {
    padding: 16px;
  }
  .logo-container {
    width: 123px;
    height: 39px;
  }
  nav .main-nav,
  nav .nav-btn {
    display: none;
  }
  .hamburger-menu{
    display: block;
  }
}
