.property-card{
    width: 316px;
    color:#121217;
    border-radius: 8px;
    border: 1px solid #EBEBEF;
    overflow: hidden;
}

.image-container{
    width: 100%;
    height: 215px;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.room-info{
    padding: 16px;
}

.room-info h3{
    margin: 0 0 8px 0;
    font-size:16px;
    font-weight: 600;
    line-height: 24px;
}

.specifications{
    margin: 0 0 28px 0;
     display: flex;
     gap:20px;
     color:  #6C6C89;
     font-size: 12px;
     font-weight: 600;
     line-height: 16px;
}


.property-price{
    display: flex;
    justify-content: space-between;
}

.price-wrapper{
    color:#E61E2B;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.avatar-container{
    display: flex;
    align-items: center;
    gap: 8px;
}

.avatar{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-name{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}