main {
  background-color: #f7f7f8;
}

.section-wrapper {
  padding: 0 48px;
}

/*Find Agent*/

.cover-text {
  max-width: 529px;
  position: absolute;
  top: 125.5px;
  left: 96px;
  z-index: 10;
}

.cover-text {
  top: 69.5px;
}

.cover-text h4 {
  margin: 0 0 23px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.5);
}

.cover-text h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  color: #fff;
}

.search-home-wrapper {
  margin: 40px 0;
  padding: 22px 24px;
  max-width: 614px;
  height: 72px;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-home-wrapper input {
  display: inline-block;
  flex: 79% 0 0;
  width: 79%;
  height: 100%;
  outline: none;
  border: none;
}

.search-home-wrapper button {
  flex: 48px 0 0;
  width: 48px;
  height: 48px;
  background-color: #e61e2b;
  border-radius: 12px;
  border: none;
}

.cover-text a{
  margin: 16px 0 0 0;
  padding: 4px 12px;
  display: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  background-color: #e61e2b;
  border-radius: 8px;
}

.cover-image-wrapper {
  width: 100%;
  height: 446px;
  position: relative;
  border-radius: 18px;
  overflow: hidden;
}

.cover-image-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #121217 50%, transparent);
}

.cover-image-wrapper .image-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 28%;
  transform: scaleX(-1);
}

/*Section*/
.inner-section {
  padding: 98.5px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-section > h3,
.section-2-title h3 {
  margin: 0 0 50px 0;
  position: relative;
  color: #a9a9bc;
  font-size: 16px;
  font-weight: 700;
}

.inner-section > h3:after,
.section-2-title h3:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -23px;
  transform: translateX(-50%);
  width: 100px;
  height: 4px;
  background-color: #e61e2b;
}

.section-2-title h3:after {
  left: 0;
  transform: translateX(0);
}

.inner-section > h2,
.section-2-title h2 {
  margin: 0 0 82.5px 0;
  max-width: 1020px;
  text-align: center;
  font-family: "Krona One", sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
}

.rent-benefit-wrapper {
  padding: 0 0 64px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  background-color: #f7f7f8;
}

.rent-benefit-box {
  padding: 32px;
  flex: 388px 0 0;
  border-radius: 16px;
  border: 1px solid #d1d1db;
  background-color: #fff;
}

.rent-benefit-box h4 {
  color: #e61e2b;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
}

.rent-benefit-box h3 {
  margin: 8px 0 24px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.rent-benefit-box p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/*Section 2*/

.section-2-title {
  width: 100%;
  padding: 93.5px 144px;
  display: flex;
}

.section-2-title h2 {
  max-width: 612px;
  text-align: left;
}

.section-2-title > div {
  flex-grow: 1;
}

.section-2-title .monthly-profit {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.section-2-title .amount {
  font-size: 48px;
  line-height: 48px;
}

.section-2-title .description {
  color: #a9a9bc;
  font-size: 18px;
}

/*Testimonials*/
.testimonial-container {
  padding: 0 144px;
  display: flex;
  gap: 32px;
}

.testimonial {
  padding: 42px 36px;
  border-radius: 16px;
  color: #fff;
  background-color: #000;
}

.testimonial h5 {
  color: #f53d6b;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.testimonial p {
  margin: 24px 0;
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
}

.testimonial .client {
  font-weight: 600;
  line-height: 28px;
  opacity: 0.8;
}

.testimonial .profession {
  font-size: 12px;
  line-height: 24px;
  opacity: 0.8;
}

/*Tenants*/
#tenants {
  background-color: #f7f7f8;
}

#tenants .top-bar {
  padding: 12px 40px;
  display: flex;
  justify-content: space-between;
}

.map-search-wrapper {
  position: relative;
  width: 320px;
  height: 40px;
}

.map-search-wrapper #map-search {
  padding: 10px 16.75px 10px 40px;
  width: 100%;
  height: 100%;
  border: 1px solid #d1d1db;
  box-shadow: 0px 1px 2px 0px #1212170d;
  border-radius: 24px;
}

.search-icon-wrapper {
  position: absolute;
  top: 12.75px;
  left: 16.75px;
}

.filter-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.select-wrapper,
#filter-btn {
  position: relative;
  width: 102px;
  height: 40px;
  overflow: hidden;
  border: 1px solid #d1d1db;
  border-radius: 24px;
  position: relative;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
}

.select-caret {
  position: absolute;
  right: 21px;
  top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.date-wrapper{
    position: relative;
}

.date-wrapper input{
    position: absolute;
    right:0;
    opacity: 0;
}

.filter-wrapper select {
  padding: 8px 20px;
  border-radius: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  width: 102px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

#filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.main-content {
  padding: 12px 40px;
  display: flex;
}

.side-panel {
  margin: 0 32px 0 0;
  height: 800px;
  flex: 20% 0 0;
  overflow: hidden;
}

.side-panel .property-list {
  width: 100%;
  height: 100%;
  padding: 0 28px 0 0;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-panel .property-list .property-card {
  margin: 0 0 32px 0;
  width: 316px;
  overflow: visible;
}

.side-panel .room-info {
  background-color: #fff;
}

.map-wrapper {
  flex: 80% 0 0;
  aspect-ratio: 1.3;
}

.map {
  width: 100%;
  height: 100%;
  background-color: #f7f7f8;
}

.map > * {
  width: 100%;
  height: 100%;
}

#map-button{
  display: none;
  padding: 10px 20px;
  gap:12px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  color: #fff; 
  background-color: #282833;
  font-size: 14px;
  border-radius: 24px;
  cursor: pointer;
}

/*Screen size less than 1440px*/
@media screen and (max-width: 1440px){
  .side-panel{
    flex: 28% 0 0;
  }
  
  .map-wrapper{
    flex: 70% 0 0;
  }
}

/*Screen size less than 1200px*/
@media screen and (max-width: 1200px){
  /*Tenants*/
  .side-panel{
    flex: 35% 0 0;
  }
  
  .map-wrapper{
    flex: 65% 0 0;
  }

  /*Owner*/
  .rent-benefit-wrapper{
    flex-wrap:wrap;
  }

  .section-2-title {
    padding: 93.5px 100px;
}

.testimonial-container {
  padding: 0 100px;
}
}

/*Screen size less than 970px*/
@media screen and (max-width: 970px){
    /*Tenants*/
    .main-content{
      padding: 12px 40px 40px;
      flex-wrap: wrap;
    }
  
    .side-panel{
      flex: 100% 0 0;
    }
  
    .property-list{
      display: flex;
      flex-direction: column;
    }
    
    .map-wrapper{
      flex: 100% 0 0;
    }

    /*Owner*/
  .cover-text{
    max-width: 380px;
    left: 24px;
  }

  .cover-text h1{
    font-size: 32px;
  }

  .cover-image-wrapper .image-container {
    width: 64%;
  }

  .section-2-title {
    padding: 93.5px 80px;
}

.testimonial-container {
  padding: 0 80px;
}
}

/*Screen size less than 835px*/
@media screen and (max-width: 835px){
  /*Tenants*/
 .select-wrapper{
   display: none;
 }

 /*Owners*/
 .inner-section{
  padding: 49px 16px 0;
}

.inner-section > h2,
.section-2-title h2 {
  margin: 0 0 32px 0;
  font-size: 40px;
  line-height: 55px;
}
}

/*Screen size less than 768px*/
@media screen and (max-width: 768px){
  /*Owner*/
  .section-wrapper {
    padding: 0 16px;
  }
 
  .cover-image-wrapper:after {
    background-image: linear-gradient(to right, #121217 15%, transparent);
  }
 
  .cover-image-wrapper .image-container {
    width: 90%;
  }
  
  .section-2-title{
    flex-wrap: wrap;
  }

  .testimonial-container{
    flex-wrap: wrap;
  }
 }

/*Screen size less than 576px*/
@media screen and (max-width: 576px){
  
  .tab-container {
    margin: 0 0 20px 0;
    padding: 12px 16px 0;
    flex-wrap: wrap;
    gap: 12px;
  }

  .tab-container h2{
    font-size: 20px;
  }

  .tab-wrapper{
    display: flex;
  }

  .tab-container > *{
    flex: 100% 0 0;
  }

  .tab-container .tab-option{
    width: 45%;
  }

  /*Tenants*/
  .main-content {
    padding: 12px 24px 40px;
}

  .top-bar {
    gap: 12px;
  }

  .side-panel {
    margin: 0;
  }

  #tenants .top-bar {
    padding: 12px 16px;
  }

  .map-search-wrapper {
    width: 219px;
  }
  
  .map-wrapper{
    display: none;
  }

  
#map-button{
  display: flex;
}

  /*Owner*/
  .cover-text{
    max-width: 280px;
  top: 37px;
}

.cover-text h4{
  margin: 0 0 16px 0;
  font-size: 12px;
}

.cover-text h1 {
  font-size: 24px;
  line-height: 32px;
}

.search-home-wrapper {
  display: none;
}

.cover-text a {
  display: inline-block;
}

  .cover-image-wrapper{
    height: auto;
    aspect-ratio: 1.33;
  }

  .cover-image-wrapper .image-container {
    position: relative;
    width: 100%;
    right: -100px;
  }

  .inner-section > h3,
  .section-2-title h3 {
    color: #a9a9bc;
    font-size: 12px;
    line-height: 24px;
}

  .inner-section > h2,
  .section-2-title h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .section-2-title{
    padding: 32px 0;
  }

  .testimonial-container{
    width: 100%;
    padding: 0;
    flex-wrap: nowrap;
    overflow: auto;
  }

  .testimonial-container > *{
    flex: 90% 0 0;
  }

}

@media screen and (max-width: 420px){
  .rent-benefit-box {
    flex: 100% 0 0;
  }
}