.tab-container{
    margin: 0 0 20px 0;
    padding: 21px 48px 0;
    display: flex;
    justify-content: space-between;
}

.tab-option{
    margin: 0 16px 0 0;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    border:none;
    cursor: pointer;
    color: #6C6C89;
    background-color: transparent;
}

.tab-option.active{
    color:#121217;
    border-bottom: 2px solid #E61E2B;
}

.tab-content{
    display: none;
}

.tab-content.show{
    display: block;
}